

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: hotpink;
}
.title{margin:25px;
font-size: 3rem;
font-family: 'Henny Penny';}
.navlogo{
  margin-bottom:10px;
}
.navele {
  margin: 25px;
  font-size: 1rem;
  font-family: 'Henny Penny';
}


.heropic{
  width: 100%;
   height: auto;
  margin-top: 0px;;
}
.heropic3 {
  width: 20%;
  height: 10%;
  position: relative;
 left:100px;
  top: 25px;

}




.herotext2 {
  font-family: 'Henny Penny';
  color: blanchedalmond;
  margin: 25px;
  position: absolute;
  top: 925px;
  font-size: 2vw;
}


    .herotext3 {
      font-family: 'Henny Penny';
      color: blanchedalmond;
      margin: 25px;
      font-size: 3vw;
      position: absolute;
        top: 1125px;
        font-size: 2vw;
    }







